
*.db
Task_4/Task_4/.vs/Task_4/v16/Browse.VC.db-shm
Task_4/Task_4/Task_4/Task_4.vcxproj.user
Task_4/Task_4/Task_4/Task_4.vcxproj.filters
Task_4/Task_4/Task_4/Task_4.vcxproj
Task_4/Task_4/Task_4.sln
Task_4/Task_4/.vs/Task_4/v16/Browse.VC.opendb
Task_4/Task_4/.vs/Task_4/v16/Browse.VC.db-wal
